    /* typographie de la page */
    
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
    /* couleurs utilisées pour la page */
    
    $primary-dark: #901C1C;
    $primary-medium: #D3573C;
    $white: #FFFFFF;
    $black: #000000;
    $secondary-lightgrey: #FAFAFA;
    $secondary-grey: #525252;
    $inner-border: #c4c4c4;
    $color-price: #757575;
    /* style general de la page */
    
    * {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    body {
        font-family: 'DM Sans', sans-serif;
        position: relative;
        width: auto;
        height: 1024px;
        background: #FFFFFF;
        margin: 2% 5%;
    }
    /* style du bouton "Passer au contenu" */
    
    .btn-contenu {
        display: none;
        width: 170px;
        height: 30px;
        left: 633px;
        top: 6px;
        background: #DB8876;
        border-radius: 5px;
        color: $black;
        text-align: center;
        font: 18px bold 'DM Sans';
        line-height: 23px;
    }
    
    .text-btn-contenu {
        color: $black;
        text-align: center;
        font: bold 18px 'DM Sans';
    }
    /* style du header */
    
    header {
        width: 70%;
        height: 157px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        float: left;
    }
    
    #logo {
        background: url('./Sample-Photos/logo.svg');
        width: 200px;
        height: 50px;
    }
    /* style de la barre de navigation */
    
    #navigationMain {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 655px;
        justify-content: space-evenly;
    }
    /*
#portrait {
    width: 68px;
    left: 386px;
}

#art {
    width: 41px;
    left: 459px;
}

#fashion {
    width: 68px;
    left: 505px;
}

#architecture {
    width: 92px;
    left: 578px;
}

#travel {
    width: 58px;
    left: 675px;
}

#sport {
    width: 55px;
    left: 738px;
}

#animals {
    width: 65px;
    left: 798px;
}

#event {
    width: 63px;
    left: 868px;
}*/
    /* style du main */
    
    main {
        width: auto;
    }
    
    h1 {
        width: 324px;
        height: 47px;
        float: right;
        font: normal 400 38px 'DM Sans';
        line-height: 61px;
        color: $primary-dark;
        white-space: nowrap;
        margin: 3% 0% 3% 4%;
        padding: 0;
    }
    
    #containerPhotographers {
        width: auto;
        clear: both;
    }
    /* style modele photographe */
    
    .containerOne {
        width: 33%;
        display: flex;
        height: 400px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    
    .containerPortraitOne {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .portraitOne {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 4px 12px $inner-border;
    }
    
    .nameOne {
        font: normal normal 36px 'DM Sans';
        text-align: center;
        color: $primary-medium;
    }
    
    .localisationOne {
        font: normal normal 13px 'DM Sans';
        text-align: center;
        color: $primary-dark;
    }
    
    .sloganOne {
        width: 137px;
        height: 13px;
        font: normal normal 10px 'DM Sans';
        text-align: center;
        color: $black;
    }
    
    .priceOne {
        width: 45px;
        height: 12px;
        font: normal normal 9px 'DM Sans';
        text-align: center;
        color: $color-price;
    }
    
    .tagsOne {
        display: flex;
        width: 356px;
        height: 22px;
        flex-direction: row;
        justify-content: center;
    }
    
    .tag {
        width: fit-content;
        padding: 0 8px;
        margin: 0 1%;
        color: $primary-dark;
        border: 0.5px solid $inner-border;
        box-sizing: border-box;
        border-radius: 11px;
        font: 700 12px 'DM Sans';
        line-height: 20.62px;
        text-align: center;
    }