    /* typographie de la page */
    
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
    /* couleurs utilisées pour la page */
    
    $primary-dark: #901C1C;
    $primary-medium: #D3573C;
    $white: #FFFFFF;
    $black: #000000;
    $secondary-lightgrey: #FAFAFA;
    $secondary-grey: #525252;
    $inner-border: #c4c4c4;
    $color-price: #757575;
    /* style general de la page */
    
    * {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
    }
    
    a {
        cursor: default;
    }
    
    input,
    label,
    textarea {
        border: none;
        background: none;
    }
    
    input:-webkit-autofill {
        box-shadow: 0 0 0px 1000px white inset;
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    
    body {
        font-family: 'DM Sans', sans-serif;
        position: relative;
        width: auto;
        min-height: 1104px;
        background: #FFFFFF;
        margin: 1% 5%;
    }
    /* style du header */
    
    header {
        width: 100%;
        height: 157px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #logo {
        background: url('./Sample-Photos/logo.svg');
        width: 200px;
        height: 50px;
        cursor: pointer;
    }
    /* style partie 1 : le profil du photographe */
    
    #partOne {
        background-color: #FAFAFA;
        width: 100%;
        height: 350px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        align-items: center;
        flex-direction: row;
    }
    
    #identity {
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 38px;
        white-space: nowrap;
    }
    
    .portraitOne {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 4px 12px $inner-border;
    }
    
    .nameOne {
        font: normal normal 64px 'DM Sans';
        color: $primary-medium;
        margin-left: 9px;
    }
    
    .localisationOne {
        font: normal normal 24px 'DM Sans';
        color: $primary-dark;
        margin-left: 9px;
    }
    
    .sloganOne {
        width: max-content;
        font: normal normal 18px 'DM Sans';
        color: $secondary-grey;
        margin-left: 9px;
    }
    
    .tagsOne {
        display: flex;
        width: 356px;
        height: 22px;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .tagPersonnel {
        width: fit-content;
        padding: 0 8px;
        margin: 0px 5px 0px 0px;
        color: $primary-dark;
        border: 0.5px solid $inner-border;
        box-sizing: border-box;
        border-radius: 11px;
        font: 700 18px 'DM Sans';
        line-height: 20.62px;
        text-align: center;
    }
    /* style partie 1 : le bouton de contact */
    
    #btnContactMe {
        height: 280px;
    }
    
    #contactMe {
        width: 170px;
        height: 69px;
        cursor: pointer;
        margin-top: 29px;
        font: normal bold 20px 'DM Sans';
        color: $white;
        background-color: $primary-dark;
        border-radius: 5px;
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
        &:hover {
            background-color: $primary-medium;
        }
        &:active {
            background-color: $primary-medium;
            box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
        }
    }
    /* style partie 1 : la photo de profil */
    
    #photoProfil {
        height: 250px;
        display: flex;
        justify-content: flex-end;
    }
    
    .portraitOne {
        width: 250px;
        height: 250px;
        margin-right: 50px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 4px 12px $inner-border;
    }
    /* style du formulaire de contact */
    
    #modale {
        display: none;
    }
    
    .containerForm {
        position: fixed;
        display: flex;
        margin-left: 23%;
        margin-top: -483px;
        width: 669px;
        height: 880px;
        border-radius: 5px;
        background-color: #db8875;
    }
    
    .formBody {
        width: 589px;
        margin: auto;
    }
    
    .headerForm {
        display: flex;
        align-items: baseline;
    }
    
    .titleFormBox {
        padding-bottom: 22px;
    }
    
    .titleForm {
        font: normal 400 60px 'DM Sans';
        color: $black;
    }
    
    .formDataSimple {
        width: 580px;
        height: 50px;
        border-radius: 5px;
        background-color: $white;
        color: $primary-dark;
        font-size: 25px;
        outline-style: none;
        padding: 5px 5px;
    }
    
    .formDataDouble {
        width: 580px;
        height: 170px;
        border-radius: 5px;
        background-color: $white;
        color: $primary-dark;
        font-size: 25px;
        outline-style: none;
        padding: 5px 5px;
    }
    
    .textForm {
        font: normal 400 30px 'DM Sans';
        color: #312e2e;
    }
    
    #btnSubmit {
        width: 170px;
        height: 69px;
        margin-top: 18px;
        border-radius: 5px;
        background: $primary-dark;
        font: normal 700 20px 'DM Sans';
        color: #FFFFFF;
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
        cursor: pointer;
        &:hover {
            background-color: $primary-medium;
        }
        &:active {
            background-color: $primary-medium;
            box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
        }
    }
    
    #close {
        width: 48px;
        height: 48px;
        background-image: url('./Sample-Photos/close_white_24dp.svg');
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }
    /* style barre de navigation déroulante */
    
    #navigationMedia {
        width: 100%;
        height: 95px;
        margin-top: 25px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
    }
    
    .trierPar {
        width: 74px;
        height: 23px;
        font: normal 700 18px 'DM Sans';
        color: $black;
        margin-top: 10px;
    }
    
    .dropdown {
        width: 170px;
        margin-left: 42px;
        position: relative;
        &:hover>.visibilityHover {
            display: block;
        }
    }
    
    .textListBox {
        color: $white;
        font: normal 700 18px 'DM Sans';
        border-radius: 5px;
        text-align: start;
        margin-left: 20px;
        width: 105px;
    }
    
    .arrow {
        width: 37px;
        height: 33px;
        background-image: url(./Sample-Photos/arrow.svg);
        background-repeat: no-repeat;
        background-size: cover;
        animation: turnDown both;
    }
    
    .alignarrow {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
    }
    
    .dropdownElement {
        width: 170px;
        height: 56px;
        cursor: pointer;
        background-color: #911c1c;
        border: none;
        border-bottom: 2px solid white;
        &:hover .arrow {
            animation: turnUp both;
        }
    }
    
    @keyframes turnDown {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(180deg);
        }
    }
    
    @keyframes turnUp {
        from {
            transform: rotate(180deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
    
    .visibilityHover {
        display: none;
    }
    /* style partie deux : les medias */
    
    #partTwo {
        width: 100%;
    }
    
    #mediaGallery {
        width: 100%;
        height: 1234px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5%;
        justify-items: center;
    }
    
    .containerMedia {
        width: 350px;
        height: 370px;
    }
    
    .boxMedia {
        width: 350px;
        height: 300px;
        border-radius: 5px;
    }
    
    .mediaPhoto {
        width: 350px;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
    }
    
    .mediaVideo {
        display: block;
        width: 350px;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
    }
    
    .boxTextMedia {
        width: 350px;
        height: 31px;
        display: flex;
        flex-direction: row;
        padding-top: 5px;
    }
    
    .titreMedia {
        width: 85%;
        height: 31px;
        font: normal 400 20px 'DM Sans';
        color: $primary-dark;
        white-space: nowrap;
    }
    
    .nbrLike {
        width: 18%;
        height: 31px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .nbr {
        width: 50%;
        height: 28px;
        display: flex;
        justify-content: flex-end;
        font: normal 500 20px "DM Sans";
        color: #901C1C;
    }
    
    .iconHeart {
        width: 45%;
        height: 23px;
        background-image: url("./Sample-Photos/heart.svg");
        background-repeat: no-repeat;
        background-size: contain;
        color: #901C1C;
    }
    /* style box de bas de page*/
    
    #boxBasDePage {
        position: fixed;
        width: 93%;
        height: 80px;
        margin-top: 221px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    #boxLikeAndPrice {
        position: fixed;
        width: 361px;
        height: 61px;
        background-color: #DB8876;
        border-radius: 5px 5px 0px 0px;
    }
    
    .boxText {
        width: 320px;
        height: 60px;
        font: normal 500 24px 'DM Sans';
        color: $black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        align-items: center;
    }
    
    .boxLike {
        display: flex;
        flex-direction: row;
        width: 116px;
    }
    
    .textPrice {
        width: 138px;
    }
    
    .heart {
        width: 25px;
        height: 30px;
        color: $black;
    }