@charset "UTF-8";
/* typographie de la page */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
/* couleurs utilisées pour la page */
/* style general de la page */
* {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

a {
  cursor: default;
}

body {
  font-family: "DM Sans", sans-serif;
  position: relative;
  width: auto;
  min-height: 1104px;
  background: #FFFFFF;
  margin: 1% 5%;
}

/* style du bouton "Passer au contenu" */
.btnContenu {
  position: fixed;
  display: none;
  width: 173px;
  height: 31px;
  background: #DB8876;
  border-radius: 5px;
  margin-top: 0;
  padding-top: 5px;
  left: 43%;
  cursor: pointer;
}

.textBtnContenu {
  color: #000000;
  font: bold 18px "DM Sans";
  margin: 6px;
  text-decoration: none;
}

.animationVisibility {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* style du header */
header {
  width: 65%;
  height: 157px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  float: left;
}

#logo {
  background: url("./Sample-Photos/logo.svg");
  width: 200px;
  height: 50px;
  cursor: pointer;
}

/* style de la barre de navigation */
#navigationMain {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 589px;
  justify-content: space-evenly;
  margin: 0px 30px;
}

.tag {
  width: fit-content;
  padding: 0 8px;
  color: #901C1C;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 11px;
  font: 700 12px "DM Sans";
  line-height: 20.62px;
  text-align: center;
  cursor: pointer;
}

.tagSelect {
  border: 0.5px solid #D3573C;
  color: #FFFFFF;
  background-color: #D3573C;
}

main {
  width: auto;
}

h1 {
  width: 324px;
  height: 47px;
  float: right;
  font: normal 400 38px "DM Sans";
  line-height: 61px;
  color: #901C1C;
  white-space: nowrap;
  margin: 3% 0% 3% 4%;
  padding: 0;
}

#containerPhotographers {
  width: auto;
  clear: both;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

/* style modele photographe */
.containerOne {
  width: max-content;
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.containerPortraitOne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portraitOne {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 4px 12px #c4c4c4;
  cursor: pointer;
}

.nameOne {
  font: normal normal 36px "DM Sans";
  width: max-content;
  color: #D3573C;
  cursor: pointer;
}

.localisationOne {
  font: normal normal 13px "DM Sans";
  text-align: center;
  color: #901C1C;
}

.sloganOne {
  width: max-content;
  height: 13px;
  font: normal normal 10px "DM Sans";
  text-align: center;
  color: #000000;
}

.priceOne {
  width: 45px;
  height: 12px;
  font: normal normal 9px "DM Sans";
  text-align: center;
  color: #757575;
}

.tagsOne {
  display: flex;
  width: 356px;
  height: 22px;
  flex-direction: row;
  justify-content: center;
}

.tagPersonnel {
  width: fit-content;
  padding: 0 8px;
  margin: 0 1%;
  color: #901C1C;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 11px;
  font: 700 12px "DM Sans";
  line-height: 20.62px;
  text-align: center;
}

/*# sourceMappingURL=style-index.css.map */
